[package]
name = "cube_solver"
version = "0.1.0"
edition = "2024"

[lib]
name = "cube_solver"
crate-type = ["staticlib"]

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"

[dependencies]
